/***********************/
/******** Colors *******/
/***********************/
$main-color-1: #66c05d;
$main-color-2: #333333;

/***********************/
/******** Fonts ********/
/***********************/
// Open Sans
$OpenSans: 'Open Sans', sans-serif;

// Roboto
$Roboto: 'Roboto', sans-serif;

// Helvetica Neue Cyr
$HNC-Medium: 'HelveticaNeueCyr-Medium', Helvetica, sans-serif;
$HNC-Italic: 'HelveticaNeueCyr-Italic', Helvetica, sans-serif;
$HNC-Bold: 'HelveticaNeueCyr-Bold', Helvetica, sans-serif;
$HNC-Black: 'HelveticaNeueCyr-Black', Helvetica, sans-serif;
$HNC-Heavy: 'HelveticaNeueCyr-Heavy', Helvetica, sans-serif;

// Helvetica Neue Lt
$HNL-Roman: 'HelveticaNeueLt-Roman', Helvetica, sans-serif;
$HNL-Heavy: 'HelveticaNeueLt-Heavy', Helvetica, sans-serif;
$HNL-Black: 'HelveticaNeueLt-Black', Helvetica, sans-serif;
$HNL-Bold: 'HelveticaNeueLt-Bold', Helvetica, sans-serif;
$HNL-BoldItalic: 'HelveticaNeueLt-BoldItalic', Helvetica, sans-serif;
$HNL-Medium: 'HelveticaNeueLt-Medium', Helvetica, sans-serif;
$HNL-Italic: 'HelveticaNeueLt-Italic', Helvetica, sans-serif;

// Helvetica Neue Condensed
$HNCond-Bold: 'HelveticaNeue-CondensedBold', Helvetica, sans-serif;

// Myriad Pro
$MP-Regular: 'MyriadPro-Regular', sans-serif;
$MP-Semibold: 'MyriadPro-Semibold', sans-serif;