/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-add-photo {
  background-image: url(../img/sprite.png);
  background-position: -202px -172px;
  width: 17px;
  height: 14px;
}
.icon-answers-green {
  background-image: url(../img/sprite.png);
  background-position: -219px -172px;
  width: 16px;
  height: 14px;
}
.icon-blog-banner-question {
  background-image: url(../img/sprite.png);
  background-position: 0px -187px;
  width: 32px;
  height: 33px;
}
.icon-blog-slider-answers {
  background-image: url(../img/sprite.png);
  background-position: -217px -220px;
  width: 13px;
  height: 12px;
}
.icon-blog-slider-likes {
  background-image: url(../img/sprite.png);
  background-position: -168px -220px;
  width: 12px;
  height: 14px;
}
.icon-blog {
  background-image: url(../img/sprite.png);
  background-position: -144px -62px;
  width: 19px;
  height: 22px;
}
.icon-dictionary {
  background-image: url(../img/sprite.png);
  background-position: -172px -187px;
  width: 23px;
  height: 18px;
}
.icon-disc-close {
  background-image: url(../img/sprite.png);
  background-position: -93px -220px;
  width: 19px;
  height: 19px;
}
.icon-disc-rewr {
  background-image: url(../img/sprite.png);
  background-position: -237px -140px;
  width: 23px;
  height: 23px;
}
.icon-discuss-likes {
  background-image: url(../img/sprite.png);
  background-position: -192px -220px;
  width: 12px;
  height: 14px;
}
.icon-discussion {
  background-image: url(../img/sprite.png);
  background-position: -34px -220px;
  width: 20px;
  height: 20px;
}
.icon-download-apple {
  background-image: url(../img/sprite.png);
  background-position: -237px -90px;
  width: 22px;
  height: 26px;
}
.icon-download-arrow {
  background-image: url(../img/sprite.png);
  background-position: -215px -187px;
  width: 16px;
  height: 16px;
}
.icon-download-google {
  background-image: url(../img/sprite.png);
  background-position: -237px -116px;
  width: 23px;
  height: 24px;
}
.icon-exit-gray {
  background-image: url(../img/sprite.png);
  background-position: -83px -48px;
  width: 15px;
  height: 13px;
}
.icon-footer-question {
  background-image: url(../img/sprite.png);
  background-position: -202px -70px;
  width: 35px;
  height: 34px;
}
.icon-forum-1 {
  background-image: url(../img/sprite.png);
  background-position: 0px -149px;
  width: 39px;
  height: 38px;
}
.icon-forum-2 {
  background-image: url(../img/sprite.png);
  background-position: -39px -149px;
  width: 38px;
  height: 38px;
}
.icon-forum-3 {
  background-image: url(../img/sprite.png);
  background-position: -164px -77px;
  width: 38px;
  height: 38px;
}
.icon-forum-4 {
  background-image: url(../img/sprite.png);
  background-position: -164px 0px;
  width: 38px;
  height: 39px;
}
.icon-forum-5 {
  background-image: url(../img/sprite.png);
  background-position: -164px -39px;
  width: 38px;
  height: 38px;
}
.icon-forum-6 {
  background-image: url(../img/sprite.png);
  background-position: -43px -112px;
  width: 37px;
  height: 37px;
}
.icon-forum-answers {
  background-image: url(../img/sprite.png);
  background-position: -204px -220px;
  width: 13px;
  height: 12px;
}
.icon-forum-likes {
  background-image: url(../img/sprite.png);
  background-position: -156px -220px;
  width: 12px;
  height: 14px;
}
.icon-forum_news-answers {
  background-image: url(../img/sprite.png);
  background-position: -253px -208px;
  width: 13px;
  height: 12px;
}
.icon-forum_news-likes {
  background-image: url(../img/sprite.png);
  background-position: -144px -220px;
  width: 12px;
  height: 14px;
}
.icon-header-help {
  background-image: url(../img/sprite.png);
  background-position: -128px -220px;
  width: 16px;
  height: 16px;
}
.icon-home-gray {
  background-image: url(../img/sprite.png);
  background-position: -69px -48px;
  width: 14px;
  height: 14px;
}
.icon-home-small {
  background-image: url(../img/sprite.png);
  background-position: -154px -112px;
  width: 10px;
  height: 10px;
}
.icon-likes-green {
  background-image: url(../img/sprite.png);
  background-position: -180px -220px;
  width: 12px;
  height: 14px;
}
.icon-link-angle-green {
  background-image: url(../img/sprite.png);
  background-position: -259px -186px;
  width: 8px;
  height: 14px;
}
.icon-link-angle-white {
  background-image: url(../img/sprite.png);
  background-position: -259px -90px;
  width: 8px;
  height: 14px;
}
.icon-logo-small {
  background-image: url(../img/sprite.png);
  background-position: -66px -187px;
  width: 40px;
  height: 25px;
}
.icon-main-intro-1 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 55px;
  height: 62px;
}
.icon-main-intro-2 {
  background-image: url(../img/sprite.png);
  background-position: 0px -62px;
  width: 52px;
  height: 50px;
}
.icon-main-intro-3 {
  background-image: url(../img/sprite.png);
  background-position: -55px 0px;
  width: 62px;
  height: 48px;
}
.icon-main-intro-4 {
  background-image: url(../img/sprite.png);
  background-position: -117px 0px;
  width: 47px;
  height: 56px;
}
.icon-main-join-1 {
  background-image: url(../img/sprite.png);
  background-position: -100px -62px;
  width: 44px;
  height: 44px;
}
.icon-main-join-2 {
  background-image: url(../img/sprite.png);
  background-position: -52px -62px;
  width: 48px;
  height: 46px;
}
.icon-main-join-3 {
  background-image: url(../img/sprite.png);
  background-position: 0px -112px;
  width: 43px;
  height: 37px;
}
.icon-placemarker {
  background-image: url(../img/sprite.png);
  background-position: -184px -149px;
  width: 17px;
  height: 21px;
}
.icon-reference {
  background-image: url(../img/sprite.png);
  background-position: -144px -84px;
  width: 20px;
  height: 20px;
}
.icon-registration-1 {
  background-image: url(../img/sprite.png);
  background-position: -32px -187px;
  width: 34px;
  height: 31px;
}
.icon-registration-2 {
  background-image: url(../img/sprite.png);
  background-position: -202px -138px;
  width: 34px;
  height: 34px;
}
.icon-registration-3 {
  background-image: url(../img/sprite.png);
  background-position: -164px -115px;
  width: 34px;
  height: 33px;
}
.icon-registration-4 {
  background-image: url(../img/sprite.png);
  background-position: -202px -104px;
  width: 34px;
  height: 34px;
}
.icon-search {
  background-image: url(../img/sprite.png);
  background-position: -237px -163px;
  width: 23px;
  height: 23px;
}
.icon-sidebar-article {
  background-image: url(../img/sprite.png);
  background-position: -195px -187px;
  width: 20px;
  height: 17px;
}
.icon-sidebar-discuss {
  background-image: url(../img/sprite.png);
  background-position: -54px -220px;
  width: 20px;
  height: 19px;
}
.icon-sidebar-last-comments-book {
  background-image: url(../img/sprite.png);
  background-position: 0px -220px;
  width: 34px;
  height: 26px;
}
.icon-sidebar-last-comments-dialog {
  background-image: url(../img/sprite.png);
  background-position: -237px -63px;
  width: 28px;
  height: 27px;
}
.icon-sidebar-last-comments-light {
  background-image: url(../img/sprite.png);
  background-position: -237px 0px;
  width: 30px;
  height: 33px;
}
.icon-sidebar-last-comments-mark {
  background-image: url(../img/sprite.png);
  background-position: -237px -33px;
  width: 26px;
  height: 30px;
}
.icon-sidebar-themes {
  background-image: url(../img/sprite.png);
  background-position: -106px -187px;
  width: 22px;
  height: 22px;
}
.icon-social-facebook {
  background-image: url(../img/sprite.png);
  background-position: -117px -112px;
  width: 37px;
  height: 36px;
}
.icon-social-instagram {
  background-image: url(../img/sprite.png);
  background-position: -202px -35px;
  width: 35px;
  height: 35px;
}
.icon-social-linkedin {
  background-image: url(../img/sprite.png);
  background-position: -202px 0px;
  width: 35px;
  height: 35px;
}
.icon-social-odnoklassniki {
  background-image: url(../img/sprite.png);
  background-position: -113px -149px;
  width: 36px;
  height: 36px;
}
.icon-social-twitter {
  background-image: url(../img/sprite.png);
  background-position: -149px -149px;
  width: 35px;
  height: 35px;
}
.icon-social-vkontakte {
  background-image: url(../img/sprite.png);
  background-position: -80px -112px;
  width: 37px;
  height: 36px;
}
.icon-social-youtube {
  background-image: url(../img/sprite.png);
  background-position: -77px -149px;
  width: 36px;
  height: 36px;
}
.icon-socials-widjet-insta {
  background-image: url(../img/sprite.png);
  background-position: -237px -186px;
  width: 22px;
  height: 22px;
}
.icon-subscribe {
  background-image: url(../img/sprite.png);
  background-position: -237px -208px;
  width: 16px;
  height: 12px;
}
.icon-user-gray {
  background-image: url(../img/sprite.png);
  background-position: -55px -48px;
  width: 14px;
  height: 14px;
}
.icon-user-ring {
  background-image: url(../img/sprite.png);
  background-position: -112px -220px;
  width: 16px;
  height: 18px;
}
.icon-user-star {
  background-image: url(../img/sprite.png);
  background-position: -74px -220px;
  width: 19px;
  height: 19px;
}
.icon-word-control-bold {
  background-image: url(../img/sprite.png);
  background-position: -259px -104px;
  width: 8px;
  height: 12px;
}
.icon-word-control-emoji {
  background-image: url(../img/sprite.png);
  background-position: -128px -187px;
  width: 22px;
  height: 22px;
}
.icon-word-control-file {
  background-image: url(../img/sprite.png);
  background-position: -150px -187px;
  width: 22px;
  height: 19px;
}
.icon-word-control-italic {
  background-image: url(../img/sprite.png);
  background-position: -230px -220px;
  width: 11px;
  height: 12px;
}
.icon-word-control-list {
  background-image: url(../img/sprite.png);
  background-position: -98px -48px;
  width: 13px;
  height: 12px;
}
.icon-word-control-num-list {
  background-image: url(../img/sprite.png);
  background-position: -184px -170px;
  width: 13px;
  height: 14px;
}
